/*Slick*/
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
/*Magnific*/
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-close,.mfp-preloader{text-align:center;position:absolute}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#CCC;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#CCC}.mfp-close,.mfp-preloader a:hover{color:#FFF}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;text-decoration:none;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{position:absolute;left:0;top:40px;bottom:40px;right:0;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.my-mfp-slide-bottom .zoom-anim-dialog{opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);-moz-transform:translateY(-20px) perspective(600px) rotateX(10deg);-ms-transform:translateY(-20px) perspective(600px) rotateX(10deg);-o-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg)}.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);-moz-transform:translateY(0) perspective(600px) rotateX(0);-ms-transform:translateY(0) perspective(600px) rotateX(0);-o-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0)}.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);-moz-transform:translateY(-10px) perspective(600px) rotateX(10deg);-ms-transform:translateY(-10px) perspective(600px) rotateX(10deg);-o-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg)}.my-mfp-slide-bottom.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out}.my-mfp-slide-bottom.mfp-ready.mfp-bg{opacity:.8}.my-mfp-slide-bottom.mfp-removing.mfp-bg{opacity:0}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
dl,h3,hr,menu,ol,p,pre,ul{margin:1em 0}hr,img,legend{border:0}body,fieldset,figure,form{margin:0}fieldset,hr,legend{padding:0}.hidden,.invisible{visibility:hidden}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}.ir:before,hr{display:block}button,html,input,select,textarea{font-family:sans-serif;color:#222}a:focus{outline:dotted thin}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:1px;border-top:1px solid #ccc}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ol,nav ul{list-style:none}img{-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}legend{white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}.ir,.visuallyhidden{border:0;overflow:hidden}table{border-collapse:collapse;border-spacing:0}/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}audio,canvas,img,video{vertical-align:middle}fieldset{border:0}.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.ir{background-color:transparent}.ir:before{content:"";width:0;height:150%}.hidden{display:none!important}.visuallyhidden{clip:rect(0 0 0 0);height:1px;margin:-1px;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}@media print{blockquote,img,pre,tr{page-break-inside:avoid}*{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}


/* --------------------------------------
   Custom fonts
   -------------------------------------- */
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: 'helveticaneuecyrlight';
                                   color: #292929;
                                }

h1, h2, h3, h4, h5, p         {    margin: 0;}
p                             {     text-align: left;}
h1, h2, h3, h4, h5            {    font-weight: normal; font-family: 'helveticaneuecyrlight';}
a                             {    text-decoration: none;}
strong                        {    font-weight: normal; font-family: 'helveticaneuecyrmedium';}
ul                            {    padding: 0; margin: 0;}
*                             {    box-sizing: border-box; outline: 0;}
*:focus                       {    outline: 0;}
::-moz-focus-inner            {    border:0; outline: 0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}
hr {
  margin: 74px 0 70px;
  border-top: 1px solid #DBDBDB;
}
.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1230px;}
 
.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: 0;
                              }
h1 {
    font: 24px 'helveticaneuecyrlight';
    color: #FFF;
}
h2 {
  font-size: 36px;
}

.blue   {color: #5F86D5 !important;}
.brown  {color: #C67559 !important;}
.velvet {color: #CE447E !important;}
.green  {color: #238D57 !important;}
.orange {color: #C26F00 !important;}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.flex,
.flex-center,
.flex-middle,
.flex-between,
.flex-around,
.flex-center-all,
.flex-center-between {   
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center { 
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-center-all {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-middle { 
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-between { 
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-center-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
        -webkit-align-items: center;
  align-items: center;
}
.flex-around { 
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media (max-width: 1250px) {
    .wrapper {width: 100%; padding: 0 10px;}
}
/* --------------------------------------
   Custom Styles
   -------------------------------------- */
#indexPage  {color: #FFF;}
section.content {
    padding: 70px 0 240px;
}


.offer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 30px;
    }
#indexPage .offer       {padding-top: 0; padding-bottom: 0;}
#promotionPage .offer {
  background-image: url("../images/offer_promotion.jpg");
}

@media (min-width: 1400px) {
    #indexPage .offer {background-image: url("../images/offer_bg.jpg");}
}
@media (min-width: 801px) and (max-width: 1400px) {
    #indexPage .offer {background-image: url("../images/offer_bg_1400.jpg");}
}
@media (min-width: 801px) {
    #indexPage .offer:after {
    content: '';
    height: 300px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    background: linear-gradient(to bottom, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    z-index: -1;
    }
}
.offer h1 {
    display: inline-block;
    vertical-align: middle;
}
.explain {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font: 18px/24px 'helveticaneuecyrlight';
    width: 50%;
    position: relative;
    padding-left: 30px;
}
.explain:before {
    content: url('../images/brackets.png');
    display: inline-block;
    vertical-align: middle;
    left: 0;
    position: absolute;
    top: -4px;
}
header {
        margin: 0;
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        padding-top: 30px;
        z-index: 100;
}
header .wrapper {
        display: flex;
        -webkit-display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
}
.logo {
    position: relative;
    z-index: 101;
}
nav {
        padding: 15px 0;
}

nav ul {
        display: flex;
        -webkit-display: flex;
        margin: 0;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
}

nav li a {
        font-size: 16px;
        color: #FFF;
        display: inline-block;
        padding: 3px 15px 2px;
        background-color: rgba(255,255,255, .0);
        -webkit-border-radius: 3px;
                border-radius: 3px;
        -webkit-transition: all .2s;
            -ms-transition: all .2s;
                transition: all .2s;
}
nav li a img {
    display: none;
    vertical-align: middle;
    width: 30px;
    margin-right: 20px;
}
nav li a:hover {
    background-color: rgba(255,255,255, .2);
}

.button {
    height: 42px; padding: 0 17px; border: 1px solid #fff; background-color: transparent; color: #FFF; -webkit-border-radius: 10px;
        border-radius: 6px; font: 18px 'helveticaneuecyrlight';
}
nav .button {display: none; position: absolute; bottom: 10px; left: 0; right: 0; margin: auto;}
/* ------- menu toggle --------- */
.menu-button                     {    display: none;}
.menu-button                     {
                                     width: 40px;
                                     height: 40px;
                                     border: none;
                                     background: transparent;
                                     padding: 0;
                                     cursor: pointer;
                                     position: relative;
                                     background: url('../images/open.png');
                                     background-repeat: no-repeat;
                                     -webkit-background-size: 100% 100%;
                                          -o-background-size: 100% 100%;
                                             background-size: 100% 100%;
                                 }



@media (max-width: 800px) {
    #indexPage                  {   background-color: #121212; background-image: url("../images/index_bg_mobile.jpg"); background-position: 50% 0%; background-size: 100% auto; background-repeat: repeat;}
    .menu-button                {    position: fixed;
                                     top: 8px;
                                     right: 15px;
                                     margin: auto; 
                                     cursor: pointer;
                                     z-index: 100;
                                     display: block;
                                 }
    .menu-button.active          {
                                     background-image: url('../images/close.png');
                                 }
    nav                          {    
                                     top: 0%;
                                     left: -100%;
                                     width: 100% !important;
                                     text-align: center;
                                     background-color: #191919;
                                     text-align: center;
                                     margin-top: 0;
                                     padding: 10px 0;
                                     position: fixed;
                                     height: 100%;
                                     z-index: 100;
                                     -webkit-transition: all .4s;
                                        -moz-transition: all .4s;
                                         -ms-transition: all .4s;
                                          -o-transition: all .4s;
                                             transition: all .4s;
                                    }
    nav ul                      {   
                                    display: block;
                                    height: 100%;
                                }
    header                     {    position: fixed; min-height: 54px;}
    header.active nav          {    left: 0;}
    header.active .logo        {    position: fixed; z-index: 101; top: 5px; left: 10px;}
    nav ul                     {    border-top: 1px solid #474747;
                                    padding-top: 25px;
                                    text-align: left;
                                    width: 96%;
                                    margin: 60px auto 0;
                                    padding-bottom: 60px;
                                }
    nav .order                  {   display: block;}
    nav li a                    {   margin: 0 0 25px 0;}
    nav li a.active             {   color: #ECCC1D;} 
    nav li a:hover              {   border-bottom: 1px solid transparent}
    header nav li a img  {   display: inline-block;}
}

@media (max-width: 750px) {
#indexPage                  {   background-position: 50% -5%;}
}
@media (max-width: 600px) {
#indexPage                  {   background-position: 50% -10%;}
}
@media (max-width: 450px) {
#indexPage                  {   background-position: 50% -15%;}
}
@media (max-width: 400px) {
#indexPage                  {   background-position: 50% -20%;}
}

.offerSlider {
    height: 900px;
}
.offerSlider_slide h2 {
    font: 36px 'helveticaneuecyrlight';
    width: 500px;
    margin: 0 auto 40px;
}
.offerSlider_slide_icons img {
    display: inline-block;
    margin: 0 7px;
}
.slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: #FFF;
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.slick-dots li.slick-active {
    background-color: transparent;
}
.slick-dots li button {
    display: none;
}
.slick-dots:before,
.slick-dots:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 8px;
    width: 540px;
    border-top: 1px solid #3E3E3E;
}
.slick-dots:after {
    right: 0;
    left: auto;
}
.slick-arrow {
    background: none;
    font-size: 0;
    border: none;
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 370px;
    z-index: 10;
}
.slick-prev {
    background-image: url("../images/prev.png");
    left: 0;
}
.slick-next {
    background-image: url("../images/next.png");
    right: 0;
}
.runSlider {
    display: inline-block;
    margin: 70px auto 0;
}
.runSlider img {
    display: block;
    margin: 0 auto 20px;
}
.runSlider span {
    font: 24px 'helveticaneuecyrlight';
    color: #FFF;
}

@media (max-width: 1200px) {
    .slick-dots:after {width: 100%; margin-top: 60px;}
    .slick-dots:before {display: none;}
}

@media (max-width: 800px) {
    .runSlider img {width: 110px;}
    .offerSlider {height: 750px; position: relative; z-index: 1;}
    .offerSlider_wrap {background-image: url("../images/offer_slider_bg.jpg"); background-position: 50% 50%; -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;} 
    .slick-arrow {top: 300px}
    .offerSlider:after {
    content: '';
    height: 300px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    background: linear-gradient(to bottom, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 100%);
    z-index: -1;
    }
}

@media (max-width: 600px) and (max-height: 650px){
    .offerSlider {height: 650px;}
    .slick-arrow {top: 280px} 
}
@media (max-width: 600px) and (max-height: 500px){
    .offerSlider {height: 500px;} 
    .slick-arrow {top: 200px}
}
@media (max-width: 600px) {
    .runSlider img {width: 80px;}
    .runSlider span {font-size: 20px;}
    .runSlider {margin-top: 30px;}
    .offerSlider:after { height: 100px;}
}



.weDo,
.ourOffers {
        display: flex;
        -webkit-display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: start;
        align-items: start;
            -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}
.weDo {
            padding-top: 115px;
        padding-bottom: 90px;
}
.weDo_item  {
    text-align: center;
    width: 100%;
    display: block;
}
.weDo_item img {
    margin-bottom: 35px;
}
.weDo_item h3 {
    font: 24px 'helveticaneuecyrlight';
    margin-bottom: 5px;
}
.weDo_item p {
    color: #8B8B8A;
    font-size: 16px;
}
.weDo_item_name {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
}
.weDo_item_name img {
    display: block;
    margin: 20px auto 0;
}


@media (max-width: 800px) {
    header {
        background-color: #121212;
        padding: 5px 0;
    }
    .weDo {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }
    .weDo_item {
        margin-bottom: 85px;
    }
}
@media (max-width: 600px) {
.offerSlider_slide h2 {width: 95%; font-size: 28px;}
.offerSlider_slide_icons img {width: 18%; margin: 3px 0;}
}
@media (max-width: 400px) {
.offerSlider_slide h2 {font-size: 24px;}
}
@media (max-width: 330px) {
.offerSlider_slide h2 {font-size: 22px;}
}



.steps {
        display: flex;
        -webkit-display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: start;
        align-items: start;
        margin: 70px 0 80px;
        text-align: left;
}
.steps_item {
    padding-right: 7%;
}
.steps h3 {
    font: 24px/24px 'helveticaneuecyrlight';
    margin-bottom: 20px;
}
.steps p {
    font: 16px/24px 'helveticaneuecyrlight';
}

.infoBlock {
    text-align: left;
    padding-left: 90px;
    position: relative;
}
.infoBlock h2 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.infoBlock p {
    font-size: 18px;
    vertical-align: top;
}
.infoBlock__icon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

.ourOffers {
    margin: 70px 0 90px;    
}
.ourOffers_item {
    width: 25%;
    text-align: left;
    margin-bottom: 30px;
}
.ourOffers_item p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 95px);
}
.ourOffers_item:last-of-type {margin-bottom: 55px;}
.ourOffers_item i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 0 40px 0 20px;
}
/*---------------------------------------------------------------*/
/* --------------------------------------
   Reviews
   -------------------------------------- */
.reviews {
  background-color: #121212;
}
@media (min-width: 801px) {
  .reviews {
    background-image: url(../images/blue_shadow-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
  }
}
.reviews .wrapper {
  padding: 100px 0 110px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
}
/*.reviews .wrapper:after {
  content: '';
  position: absolute;
  width: 1308px;
  height: 1596px;
  top: 450px;
  right: 320px;
  margin-top: -798px;
  margin-right: -654px;
  z-index: -1;
  background-image: url(../images/blue_shadow-min.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}*/





.reviews-icon {
  display: block;
  margin: 0 auto 20px;
  width: 103px;
  height: 103px;
  background: url(../images/reviews-icon.png) 50% 50% no-repeat;
}
.reviews h2 {
  color: #fff;
  margin-bottom: 8px;
}
.reviews h2 + small {
  font-size: 17.95px;
  opacity: .5;
  color: #fff;
}

.reviews .wrap {
  padding-top: 110px;
}
.review {
  width: 50%;
  padding: 0 8%;
}
.review__person__image {
  width: 194px;
  height: auto;
  margin-bottom: 28px;
}
.review__person__name {
  font-size: 24px;
  font-family: 'helveticaneue';
  color: #fff;
  margin-bottom: 4px;
  text-align: center;
}
.review__person__position {
  font-size: 16px;
  color: #00a2e5;
  font-family: 'helveticaneue';
}
.review__text {
  color: #fff;
  opacity: .5;
  margin-top: 24px;
  font: 18px/30px 'helveticaneue';
}
@media (max-width: 1000px) {
  .review {
    padding: 0 3%;
  }
  .review__text {
    font: 16px/26px 'helveticaneue';
  }
}
@media (max-width: 800px) {
  .reviews {
    background-color: transparent;
  }
  .review {
    width: 100%;
    margin-bottom: 60px; 
  }
  .reviews .wrapper {
    padding-bottom: 30px;
  }
}

/* --------------------------------------
   Footer
   -------------------------------------- */
footer .wrapper {
  position: relative;
}
.footer--main {
  padding: 30px 0;
  background-color: #F8F7F9;
  color: #4f4e4e;
}
.footer--main .left,
.footer--main .right {
  display: inline-block;
  width: 50%;
  margin: 0 -2px;
  vertical-align: middle;
}
.footer--main .left {
  text-align: left;
}
.footer--main .right {
  text-align: right;
}
footer p {
  font-size: 20px;
}
footer p.copy {
  font-size: 15.95px;
}
.buttons a {
  font-size: 13.5px;
  height: 33px;
  line-height: 31px;
  margin-right: 1px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding: 0 13px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: all 0.3s ease
}
.buttons a:hover {
  background-color: #42424C;
  border-color: #42424C;
  color: #fff;
}
.buttons {
  margin: 24px 0;
}



.footer--secondary {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 80px 0 20px;
}
.footer--secondary:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.94;
}



.footer--pink {
  background-image: url(../images/footer--pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.footer--pink:after {
  background-color: #b44989;
}





.footer--secondary .buttons a {
  border-color: #fff;
  color: #fff;
}
.footer--secondary .buttons a:hover {
  background-color: #fff;
  color: #000;
}


.footer_nav {
  display: inline-block;
  text-align: left;
  float: left;
  margin-top: 45px;
  padding: 0;
}
.footer_nav a {
  margin: 0;
  padding: 2px 15px;
  border-bottom: none;
  border-radius: 4px;
}
.footer_nav a:hover {
  border-bottom: none;
  background-color: rgba(255, 255, 255, .2);
}



.order_app {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
.order_app .order {
  height: 40px;
  padding: 0 20px;
  line-height: 38px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease;
  display: block;
  font-size: 18px;
}
.order_app .order:hover {
  color: #000;
  background-color: #fff;
}
.order_app .fb {
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  border-radius: 50%;
  display: inline-block;
  background-image: url(../images/fb-icon.svg);
  background-size: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.order_app .fb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}



@media (max-width: 1250px) {
  footer {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
}

@media (max-width: 1000px) {
  .footer_nav {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer_nav ul {
    display: block;
  }
  .footer_nav ul li {
    display: inline-block;
  }
  .order_app {
    position: static;
    display: inline-block;
    text-align: center;
    width: auto;
  }
}

@media (max-width: 800px) {
  .footer--main {
    background-color: transparent;
    color: #fff;
    text-align: left;
    padding-top: 0;

  }
  .footer--main .wrapper {
    border-top: 1px solid #373737;
    padding-top: 40px;
    text-align: left;
  }
  .footer--main .left {
    width: 50%;
    text-align: center;
    margin: 0 -2px 30px;
  }
  
  .footer--main .right {
    width: 100%;
  }
  .copy {
    margin-top: 25px;
    opacity: 0.7;
  }
  .footer_nav {
    display: none;
  }
  .buttons {
    display: none;
  }
  .order_app {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: auto;
  }
  .footer--main .order_app {
    top: 40px;
  }
  .order_app .order {
    font-size: 12px;
    height: 35px;
    line-height: 33px;
    padding: 0 10px;
  }
  .order_app .fb {
    display: none;
  }
  .footer--secondary p {
    width: 50%;
    font-size: 12px;
  }
  footer p {
    font-size: 12px;
  }
  footer p.copy {
    font-size: 10px;
  }
  footer .wrapper {
    padding: 0;
  }
  .footer--secondary {
    padding: 25px 0;
  }
}


/*icons*/
/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.icon-01, .icon-06, .icon-07, .icon-11, .icon-03, 
.icon-08, .icon-04, .icon-02, .icon-10, .icon-05, 
.icon-09
{ display: inline-block;
  background: url('../images/icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: middle;
}
 
.icon-01 { background-position: -4px -0px; width: 36px; height: 21px; }
.icon-06 { background-position: -4px -25px; width: 35px; height: 25px; }
.icon-07 { background-position: -4px -54px; width: 35px; height: 22px; }
.icon-11 { background-position: -4px -80px; width: 35px; height: 35px; }
.icon-03 { background-position: -4px -119px; width: 34px; height: 24px; }
.icon-08 { background-position: -4px -147px; width: 34px; height: 34px; }
.icon-04 { background-position: -4px -185px; width: 33px; height: 32px; }
.icon-02 { background-position: -4px -221px; width: 32px; height: 32px; }
.icon-10 { background-position: -4px -257px; width: 32px; height: 31px; }
.icon-05 { background-position: -4px -292px; width: 30px; height: 28px; }
.icon-09 { background-position: -4px -324px; width: 30px; height: 28px; }
